@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@-viewport {width: device-width; scale:1;}

html {
	margin:0;
	padding: 0;
	box-sizing: border-box;

	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

@media only screen and (min-width: 60em) {
	html {
		font-size: 110%;
	}
}

@media only screen and (min-width: 90em) {
	html {
		font-size: 120%;
	}
}

@media only screen and (min-width: 120em) {
	html {
		font-size: 130%
	}
}

*, *:before,:after {
	box-sizing: inherit;
} 

body {
	margin: 0;
	padding: 0;
}

a:link,
a:active{
	outline: none;
}

.skip-links{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.skip-links a{
	position: absolute;
	top: -3em;
	padding: 0.5em 0.75em;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: none;
}

.skip-links a:focus{
	top: 0;
}

.masthead {
	overflow: hidden;
}

.call {
	background-image: url("..images/laptop.jpg");
	background-color: #e1e1e1;
}

.logo {
	display: block;
	margin: 0;

	text-transform: uppercase;
	text-align: center;

}

.nav {
	padding: 0;
}

.nav li {
	display: block;	

	color: #111;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: .5em;

	text-decoration: none;
	color: #111;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
	background-color: #efefef;
}

.action {
	line-height: 1.5em;
}

.nav-bottom {
	padding: 0;
}

.nav-bottom li {
	display:block;
	line-height: 1.5em;

	color: #111;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
	display: block;
	padding:.5em;

	text-decoration: none;
	color: #111;
}

.nav-bottom a:hover,
.nav-bottom a:focus,
.nav-bottom a:active,
.nav-bottom .nav-current.
.nav-bottom .nav-current:link,
.nav-bottom .nav-current:visited {
	background-color: #efefef;
}

.signup {
	padding:0.25em;

	font-size: 1.75em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background-color: #efefef;
	border: none;
	float: right;
	clear:right;
	width: 50%
	cursor: pointer;
}

.signup:hover {
	background-color: #FFD700;
}

.signup:active{
	background-color: #FFD700;
}

.trynow {
	padding: 0.25em;
	display: block;
	width: 60%;

	background-color: #efefef;
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: none;
	cursor: pointer;
}

.trynow:hover {
	background-color: #FFD700;
}

.trynow:active {
	background-color: #FFD700;
}

.footer {
	overflow: hidden;

	background-color: #ddd;
}

.free {
	padding: 0em;
	background-color: #FFD700;

	overflow: hidden;
}

.personal {
	padding: 0em;
	background-color: #FFD700;

	overflow:hidden;
}

.professional {
	padding: 0em;
	background-color: #FFD700;

	overflow: hidden;
}

.copyright {
	text-transform: uppercase;
}

.blogreview {
	 
}

.features {
	text-transform: uppercase;
}

@media only screen and (min-width: 20em){

.nav {
	text-align: center;
}

.nav li {
	display: inline-block;
}

.nav-bottom {
	text-align: center;
}

.nav-bottom li {
	display: inline-block;
}

}

@media only screen and (min-width: 40em){

.logo {
	float: left;
}

.nav {
	float: left;
}


}

@media only screen and (min-width: 60em){

}






