@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@-viewport {width: device-width; scale:1;}

html {
	margin:0;
	padding: 0;
	box-sizing: border-box;

	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

@media only screen and (min-width: 60em) {
	html {
		font-size: 110%;
	}
}

@media only screen and (min-width: 90em) {
	html {
		font-size: 120%;
	}
}

@media only screen and (min-width: 120em) {
	html {
		font-size: 130%
	}
}

*, *:before,:after {
	box-sizing: inherit;
} 

body {
	margin: 0;
	padding: 0;
}

a:link,
a:active{
	outline: none;
}

.skip-links{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.skip-links a{
	position: absolute;
	top: -10em;
	padding: 0.5em 0.75em;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: none;
}

.skip-links a:focus{
	top: 0;
}

.masthead {
	overflow: hidden;
}

.call {
	background-image: url("../images/home-office.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	display: block;
	margin: 0;

	text-transform: uppercase;
	text-align: center;

	color: #fff;

}

.nav {
	padding: 0;
}

.nav li {
	display: block;	

	color: #fff;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: .5em;

	text-decoration: none;
	color: #fff;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
	background-color: #efefef;

	color: #111;
}

.nav-bottom {
	padding: 0;
}

.nav-bottom li {
	display:block;

	color: #fff;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
	display: block;
	padding:.5em;

	text-decoration: none;
	color: #fff;
}

.nav-bottom a:hover,
.nav-bottom a:focus,
.nav-bottom a:active,
.nav-bottom .nav-current.
.nav-bottom .nav-current:link,
.nav-bottom .nav-current:visited {
	background-color: #efefef;

	color: #111;
}


.action {
	line-height: 1.5em;
	font-size: 3.5rem;
	text-transform: uppercase;

	color: #fff;
}


.second-action {
	line-height: 1.5em;
	font-size: 3.5rem;

	color: #fff;
}

.links {
	text-decoration: none;
	color: #fff;
}

.logolinks {
	text-decoration: none;
	color: #111;
}

.signup {
	padding:0.25em;

	font-size: 1.75em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #fff;

	background-color: #111;
	border: none;
	float: left;
	clear:left;
	width: 100%;
	cursor: pointer;
}

.signup:hover {
	background-color: #FFD700;
	color: #fff;
}

.signup:active{
	background-color: #FFD700;
	color: #fff;
}

.trynow {
	padding: 0.25em;
	display: block;
	width: 100%;

	background-color: #FFD700;
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: none;
	cursor: pointer;
}

.trynow:hover {
	background-color: #FFD700;
}

.trynow:active {
	background-color: #FFD700;
}

.footer {
	overflow: hidden;

	background-color: #111;
}

.free {
	padding: 0em;
	margin: 0 0.5em 0 0;
	background-color: #FFD700;


	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.personal {
	padding: 0em;
	background-color: #FFD700;

	overflow:hidden;

	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.pro {
	padding: 0em;
	background-color: #FFD700;

	overflow: hidden;

	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.copyright {
	text-transform: uppercase;
	text-align: left;
	color: #fff;
}

.features {
	text-transform: uppercase;
}
.pricing {
	text-decoration: none;
	color: #111;
}

.flex{
	display: block;
	width: 75%;
}

.black {
	background-color: #111;
}

.white {
	color: #fff;
}

.plans {
	background-color: #111;
	color: #fff;
	text-transform: uppercase;

	padding: 0.25em;
	margin: 0;
}

.review {
	background-color: #111;
	color: #fff;
	text-transform: uppercase;

	padding: 0.25em;
}

.review-img {
	width: 100%;
}

.blog-name{
	background-color: #fff;
	color: #111;
	text-transform: uppercase;

	padding: 0.25em;
	margin: 0;
}

.underline {
	border: 0;
	height: 5px;
	background-color: #111;
}

.sign-in {
	padding:0.25em;

	font-size: 1.75em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #fff;

	background-color: #FFD700;
	border: none;
	float: left;
	clear:left;
	width: 100%;
	cursor: pointer;
}

.sign-in:hover {
	background-color: #FFD700;
	color: #fff;
}

.sign-in:active{
	background-color: #FFD700;
	color: #fff;
}

.started {
	padding: 0;
	text-transform: uppercase;

	background-color: #111;
	color: #fff;
}

.billing {
	background-color: #fff;
	color: #111;
}

.enter-info {
	background-color: #fff;
	border: 1px solid #111;
	display: block;

	width: 100%;
}

.labels {
	width: 100%;
	display: block;
}

.signup-sections {
	background-color: #111;
	color: #fff;

	margin: 0;
	padding: 0;
}

.rate {
	color: #111;
}

@media only screen and (min-width: 20em){

.nav {
	text-align: center;
}

.nav li {
	display: inline-block;
}

.nav-bottom {
	text-align: center;
}

.nav-bottom li {
	display: inline-block;
}

.signup,
.sign-in {
	width: 60%;
}


}

@media only screen and (min-width: 40em){

.logo {
	float: left;
}

.nav {
	float: right;
}

.nav-bottom {
	float: right;
}

.signup,
.sign-in {
	width: 30%;
}

.enter-info {
	background-color: #fff;
	border: 1px solid #111;

	width:80%;
}

.labels {
	float: left;
	width:80%;
}



}

@media only screen and (min-width: 60em){

}






